<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ran.chainreaction"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Splash Screen Activity -->
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Service for Audio Play Back -->
        <service
            android:name=".services.AudioPlayBackService"
            android:enabled="true"
            android:exported="false">
        </service>

        <!-- Activity responsible for Settings View -->
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="fontScale"
            android:screenOrientation="portrait">
        </activity>

        <!-- Activity responsible for Offline Game Settings View -->
        <activity
            android:name=".activities.OfflineSettingsActivity"
            android:configChanges="fontScale"
            android:label="@string/offline_settings_screen_title"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ran.chainreaction.activities.SplashActivity"/>
        </activity>

        <!-- Activity responsible for the Saved Games View -->
        <activity
            android:name=".activities.SavedGamesActivity"
            android:configChanges="fontScale"
            android:label="@string/title_activity_saved_games"
            android:parentActivityName=".activities.SplashActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ran.chainreaction.activities.SplashActivity"/>
        </activity>

        <!-- Activity for Game Screen View [Offline , Online and Saved] -->
        <activity
            android:name=".activities.GameScreenActivity"
            android:configChanges="fontScale"
            android:label="@string/title_activity_game_screen"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
